<div class="card">
  <p class="text-lg">{{ "calculator" | transloco }}</p>
  <p-stepper [value]="activeIndex()">
    <p-step-item [value]="1">
      <p-step>
        {{ "first_step.title" | transloco }}: @if(dateType()){
        {{ "date_type." + dateType() | transloco }}
        }
      </p-step>
      <p-step-panel>
        <ng-template #content>
          <div class="text-lg">{{ "first_step.description" | transloco }}:</div>
          <div class="flex justify-between gap-2">
            <div class="py-6">
              <p-button
                (onClick)="selectDateType('lastMestruation')"
                [label]="'date_type.lastMestruation' | transloco"
              />
            </div>
            <div class="py-6">
              <p-button
                (onClick)="selectDateType('expectedDelivery')"
                [label]="'date_type.expectedDelivery' | transloco"
              />
            </div>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>

    <p-step-item [value]="2">
      <p-step>
        {{ "second_step.title" | transloco }}: @if(dateType()){
        {{ inputDate() | date : "dd/MM/yyyy" }}
        }
      </p-step>
      <p-step-panel class="!overflow-visible">
        <ng-template #content>
          <div class="text-lg">
            {{ "second_step.description" | transloco }}:
          </div>
          <div class="card flex">
            <p-datepicker
              #inputDateDatepicker
              placeholder="Select a date"
              readonlyInput
              (onSelect)="selectDate()"
              [(ngModel)]="inputDate"
            />
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>

    <p-step-item [value]="3">
      <p-step>Header III</p-step>
      <p-step-panel class="!overflow-visible">
        <ng-template #content>
          <p-fieldset [legend]="'weeks_from_date.title' | transloco">
            <div class="flex items-center justify-between gap-6">
              <p-datepicker
                placeholder="Select a date"
                readonlyInput
                [inputStyle]="{ width: '8rem' }"
                (onSelect)="selectDateWeeksFromdate()"
                [(ngModel)]="inputDateForWeeks"
              />
              <div class="flex flex-col sm:flex-row gap-2">
                <p-chip>
                  <p>{{ "weeks" | transloco }}: {{ weeksFromDate() }}</p>
                </p-chip>
                <p-chip>
                  <p>{{ "days" | transloco }}: {{ daysFromDate() }}</p>
                </p-chip>
              </div>
            </div>
          </p-fieldset>
          <p-fieldset [legend]="'date_from_weeks.title' | transloco">
            <div class="flex flex-col items-start justify-between sm:flex-row gap-6">
              <div class="flex justify-between w-full">
                <div class="flex items-center gap-2">
                  <label for="weeksFromWeeks" class="w-16">{{
                    "weeks" | transloco
                  }}</label>
                  <p-inputnumber
                    [(ngModel)]="weeksFromWeeks"
                    inputId="weeksFromWeeks"
                    mode="decimal"
                    spinnerMode="horizontal"
                    [inputStyle]="{ width: '3rem' }"
                    [min]="0"
                    [max]="60"
                  />
                </div>
                <p-divider layout="vertical" />
                <div class="flex items-center gap-2">
                  <label for="daysFromWeeks" class="w-16">{{
                    "days" | transloco
                  }}</label>
                  <p-inputnumber
                    [(ngModel)]="daysFromWeeks"
                    inputId="daysFromWeeks"
                    mode="decimal"
                    spinnerMode="horizontal"
                    [inputStyle]="{ width: '3rem' }"
                    [min]="0"
                    [max]="6"
                  />
                </div>
              </div>
              <p-chip>
                <p>{{ dateFromWeeks() | date : "dd/MM/yyyy"  }}</p>
              </p-chip>
            </div>
          </p-fieldset>
        </ng-template>
      </p-step-panel>
    </p-step-item>
  </p-stepper>
</div>
