<div class="px-4 mt-2">
  <!-- <app-stepper
    (onUpdateDeliveryDate)="onUpdateDeliveryDate($event)"
    (onUpdateStartPregnancy)="onUpdateStartPregnancy($event)"
    [startPregnancy]="startPregnancy()"
    [deliveryDate]="deliveryDate()"
  ></app-stepper> -->
  <app-accordion-stepper
    (onUpdateDeliveryDate)="onUpdateDeliveryDate($event)"
    (onUpdateStartPregnancy)="onUpdateStartPregnancy($event)"
    [startPregnancy]="startPregnancy()"
    [deliveryDate]="deliveryDate()"
  />
</div>
<app-result-card [startPregnancy]="startPregnancy()" [deliveryDate]="deliveryDate()" [weeks]="weeks()" [days]="days()"/>
<div class="flex justify-center my-2">
  <!-- <p-button label="Reset" (onClick)="stepper()?.reset()" /> -->
  <p-button label="Reset" (onClick)="accordionStepper()?.reset()" />
</div>
